@page "/fetchdata"
@using Mekajiki.Shared
@inject HttpClient Http

<PageTitle>Anime listing</PageTitle>

<h1>Anime listing</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (listing == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>DirName</th>
                <th>SeasonCount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var series in listing.Series)
            {
                <tr>
                    <td>@series.Name</td>
                    <td>@series.DirectoryName</td>
                    <td>@series.Seasons.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private AnimeListing? listing;

    protected override async Task OnInitializedAsync()
    {
        listing = await Http.GetFromJsonAsync<AnimeListing>("GetAnimeListing");
    }
}
